<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headerId">
    <title></title>
</head>
<body>
    <div style="text-align: center;">
        <h1>
            Guess the Number Game
        </h1>
        <h3 th:text="${mainMessage}"></h3>
        <h3 th:text="${resultMessage}">Result Message</h3>

        <form action="play" method="post">
            <label for="guess">Enter your guess</label>
            <input type="number" id="guess" name="guess">
            <input type="submit" value="Submit">
        </form>

        <footer th:replace="~{fragments/footer :: footerFragment}"></footer>

    </div>

</body>
</html>